* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: beige;
}

.divGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

    .divGroups header {
      text-transform: uppercase;
      font-size: 70px;
    }

    .divGroups > div {
      width: 9em;
      padding: 0.5em;
      background-color: white;
      color: black;
    }

.match {
  margin: 10rem 0 0;
}

    .match > div {
      margin-top: 3rem;
      /* width: 22em; */
    }

    .match > div > h2 {
      padding-left: 0.5rem;
    }

    .match > div > p {
      padding-left: 2.5rem;
    }

    .match > div > p > b {
        background-color: white;
        padding: 0 5px;
    }

    .match > div > p > i {
        color: gray;
    }

.divPoints {
  margin: 10rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

    .divPoints > div {
        background-color: white;
        width: 22em;
        padding: 0.5em;
    }

    .right { float: right; }

    .pointsTable {
        display: grid;
        grid-template-columns: repeat(6, 29px);
        width: 12em;
    }

    .pointsTable > b {
        text-align: center;
    }
